@charset "utf-8";
/* Iron Fist Grid CSS  */

/*!
 * Daniel Kuhns
 */

body {
	margin: 1% 1% 1% 1%;
}
@media screen and (min-width: 992px) {

.grid-wrapper {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(15, 1fr);
    margin: 0 auto;
    max-width: 95%;
}
    .col-1 {
        grid-column: span 1;
    }
    .col-2 {
        grid-column: span 2;
    }
    .col-3 {
        grid-column: span 3;
    }
    .col-4 {
        grid-column: span 4;
    }
    .col-5 {
        grid-column: span 5;
    }
    .col-6 {
        grid-column: span 6;
    }
    .col-7 {
        grid-column: span 7;
    }
    .col-8 {
        grid-column: span 8;
    }
    .col-9 {
        grid-column: span 9;
    }
    .col-10 {
        grid-column: span 10;
    }
    .col-11 {
        grid-column: span 11;
    }
    .col-12 {
        grid-column: span 12;
    }
    .col-13 {
        grid-column: span 13;
    }
    .col-14 {
        grid-column: span 14;
    }
    .col-15 {
        grid-column: span 15;
    }
}

/*
.container {
    padding: 0 1rem;
    margin: 0 auto;
	
}



margin: 0 auto;
*/
